# Auto detect text files and perform LF normalization
* text=auto
bin/*.pt filter=lfs diff=lfs merge=lfs -text
bin/*.joblib filter=lfs diff=lfs merge=lfs -text
data/** filter=lfs diff=lfs merge=lfs -text
